* {
  margin: 0;
  padding: 0;
}

#root, div {
  height: 100vh;
}

.login-content {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 10vh;
}
