* {
  margin: 0;
  padding: 0;
}

.login {
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  height: 314px;
  left: 372px;
  position: absolute;
  top: 431px;
  width: 697px;
}

.login-name-input {
  align-items: flex-start;
  background: white;
  border: 1px solid #e1e5eb;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: 45px;
  left: 454px;
  padding: 12px 16px;
  position: relative;
  top: 525px;
  width: 519px;
}

.login-button {
  align-items: center;
  background: #003be5;
  border-radius: 2px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  left: 454px;
  padding: 8px 32px;
  position: absolute;
  top: 601px;
  width: 519px;
}

/* .login-button-inside {
  color: #FFFFFF;
  flex-grow: 0;
  flex: none;
  margin: 0px 10px;
  order: 0;
} */

.trybe-tunes-logo {
  height: 158px;
  left: 604px;
  position: absolute;
  top: 169px;
  width: 208px;
}

header {
  background: #023031;
  box-shadow: 4px 1px rgba(0, 0, 0, 0.25);
  height: 96px;
  position: absolute;
  top: 4px;
  width: 1440px;
}

.nav-list {
  filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
  height: 78px;
  left: 1px;
  position: absolute;
  top: 100px;
  width: 1439px;
}

.nav-list ul {
  align-items: center;
  background: #f0f2f5;
  bottom: 0%;
  display: flex;
  justify-content: space-evenly;
  left: 0%;
  position: absolute;
  right: 0%;
  text-align: center;
  top: 0%;
  width: 100%;
}

.nav-list li {
  display: flex;
  float: left;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list li a {
  background: #f0f2f5;
  box-shadow: 2px black;
  color: #2fc18c;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  height: 36px;
  left: 652px;
  line-height: 29px;
  padding: 10px 18px;
  text-decoration: none;
  top: 129px;
  width: 400px;
}

.nav-list li a:hover {
  background: #036b52;
  color: #f0f2f5;
}

.header-user-content {
  background-color: white;
  border-radius: 50px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  height: 41.65px;
  left: 1192px;
  position: absolute;
  top: 31px;
  width: 198.7px;
}

h3 {
  color: #29313d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5%;
  text-align: center;
}

.input-search {
  align-items: flex-start;
  background: white;
  border: 1px solid #3d495c;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 45px;
  left: 380px;
  padding: 12px 16px;
  position: absolute;
  top: 277px;
  width: 519px;
}

.search-button {
  align-items: center;
  background: #003be5;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: center;
  left: 980px;
  padding: 8px 32px;
  position: absolute;
  top: 277px;
  width: 134px;
}

::placeholder {
  align-items: center;
  bottom: 0%;
  color: #6b7588;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  left: 0%;
  line-height: 150%;
  position: static;
  right: 76.39%;
  top: 0%;
}

.loading {
  color: #023031;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  height: 72px;
  left: 512px;
  line-height: 65px;
  position: absolute;
  top: 508px;
  width: 418px;
}

.search-result {
  color: #001813;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  height: 33px;
  left: 112px;
  line-height: 25px;
  position: absolute;
  top: 434px;
  width: 447px;
}
