* {
  margin: 0;
  padding: 0;
}

.login {
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  height: 314px;
  left: 372px;
  position: absolute;
  top: 431px;
  width: 697px;
}

.login-name-input {
  align-items: flex-start;
  background: white;
  border: 1px solid #e1e5eb;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: 45px;
  left: 454px;
  padding: 12px 16px;
  position: relative;
  top: 525px;
  width: 519px;
}

.login-button {
  align-items: center;
  background: #003be5;
  border-radius: 2px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  left: 454px;
  padding: 8px 32px;
  position: absolute;
  top: 601px;
  width: 519px;
}

/* .login-button-inside {
  color: #FFFFFF;
  flex-grow: 0;
  flex: none;
  margin: 0px 10px;
  order: 0;
} */

.trybe-tunes-logo {
  height: 158px;
  left: 604px;
  position: absolute;
  top: 169px;
  width: 208px;
}

header {
  background: #023031;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  height: 96px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 1440px;
}

.nav-list {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 78px;
  left: 1px;
  position: absolute;
  top: 100px;
  width: 1439px;
}

.nav-list ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: #f0f2f5;
  bottom: 0%;
  left: 0%;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 100%;
}

.nav-list li {
  float: left;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-list li a {
  background: #F0F2F5;
  box-shadow: 2px black;
  color: #2fc18c;
  font-family: Epilogue;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  height: 36px;
  left: 652px;
  line-height: 29px;
  padding: 10px 18px;
  text-decoration: none;
  top: 129px;
  width: 480px;
}

.nav-list li a:hover {
  background:  #036B52;
  color: #F0F2F5;
}
